.agents/
.agent/
docs
Fusion_NGNLxLoX3/modau.html
V4.2/image/o_nha_yen.png
Mapping/
Py-Temp/
.gemini/
Linh Tinh/
docs/
# Exclude archives and zip files
*.zip
*.zop
*.7z
*Lo3x*
*Lox3*
*.bak

# Exclude V4.2 directory
V4.2/

